<a href="https://colab.research.google.com/github/Lucassius/PythonProjects/blob/main/ResolucaoDoProblemaParaMenorCustoPoss%C3%ADvel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Trabalho 1

O trabalho consistem em realizar o transporte de alunos e escolas no menor custo possível. Vocês podem definir o melhor comprimisso entre número de veículos e distância percorrida por veículo

Para isso é necessário baicar uma base de dados com os dados dos alunos, das escolas e as distãncias entre quaisquer dois pares de vértices

In [2]:
# download da base de dados
!wget https://github.com/lucasvra/domotica_robotica/raw/main/dados/trabalho.sqlite

--2023-05-07 14:53:34--  https://github.com/lucasvra/domotica_robotica/raw/main/dados/trabalho.sqlite
Resolving github.com (github.com)... 140.82.113.4
Connecting to github.com (github.com)|140.82.113.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/lucasvra/domotica_robotica/main/dados/trabalho.sqlite [following]
--2023-05-07 14:53:34--  https://raw.githubusercontent.com/lucasvra/domotica_robotica/main/dados/trabalho.sqlite
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 16101376 (15M) [application/octet-stream]
Saving to: ‘trabalho.sqlite’

trabalho.sqlite     100%[===================>]  15.36M  95.4MB/s    in 0.2s

2023-05-07 14:53:34 (95.4 MB/s) - ‘trabalho.sqlite’ saved [16101376/16101376]

O dados são organizados em três tabelas, alunos_req, escolas_req e distancias_req. Cada aluno tem um vértice_orig que é seu ponto de partida. Seu vértice de destino deve ser o vértice da escola ao qual ele pertence.

A distância é data tanto em metros quanto em minutos. Neste trabalho deve-se utilizar a distância em metros.

In [31]:
import pandas as pd
import numpy as np
import sqlite3

con = sqlite3.connect("trabalho.sqlite")
alunos = pd.read_sql_query("SELECT * from alunos_req", con)
escolas = pd.read_sql_query("SELECT * from escolas_req", con)
distancias = pd.read_sql_query("SELECT * from distancias_req", con)

In [4]:
alunos.head()

   cod_aluno  vertice_orig  dist_perc turno  cod_escola tipo ensino
0    2496080          7222   5.252289     M    31173053    M     EF
1    2496081          3135  12.709945     M    31173053    M     PE
2    2496083          7247  26.376901     M    31173053    M     EF
3    2496084          7264  19.606927     M    31173053    M     EF
4    2496090          2750  14.089380     M    31173053    M     EF

In [5]:
escolas.head()

,vertice,entrada_m,saida_m,entrada_t,saida_t,entrada_n,saida_n,cod_escola
0,5339,07:30:00,11:30:00,12:30:00,16:45:00,18:00:00,22:15:00,311723
1,4604,07:00:00,11:10:00,13:00:00,17:00:00,19:00:00,23:00:00,31170674
2,7376,07:30:00,11:25:00,13:00:00,17:25:00,18:30:00,22:00:00,31173045
3,3997,07:20:00,11:35:00,13:00:00,17:15:00,18:00:00,22:15:00,31173053
4,7375,07:00:00,11:25:00,13:00:00,17:25:00,18:30:00,22:00:00,31173061

In [6]:
distancias.head()

   origem  destino   distancia      tempo
0    2763      300  11478.7640  22.910070
1    2763     2710   7106.7485  14.213497
2    2763     2750   2388.5647   4.777130
3    2763     2920  23322.0430  36.493070
4    2763     2970  24995.4750  36.925260

O problema deve ser resolvido utilizando algoritmos genéticos ou alguma variação deles (algoritmos evolucionários, VNS, clonal, etc)

Para isso se faz necessário codificar a solução num formato de genoma.

Considerando que temos n alunos, uma solução é codificada como uma matriz 2xn, ou seja com duas linhas e n colunas.

A primeira linha é composta do índice do aluno no dataframe alunos_escola e a segunda linha é o índice do veículo usado pra transporta esse aluno.

A solução inicial é considerar um veículo por aluno, então a solução seria algo no sentido.

[ 1, 2, 3, ... n-1]

[ 1, 2, 3, ... n-1]
 
Ou seja trocando as posições dos alunos na primeira linha, trocamos a ordem com que eles são levados à escola, trocando

In [7]:
for index, row in escolas.iterrows():
  alunos_escola = alunos[alunos.cod_escola == row['cod_escola']]
  n = len(alunos_escola.index)
  print(f"escola {row['cod_escola']} | {n} alunos")

  sol = np.array([[*range(n)], [*range(n)]])

escola 311723 | 4 alunos
escola 31170674 | 5 alunos
escola 31173045 | 34 alunos
escola 31173053 | 23 alunos
escola 31173061 | 186 alunos
escola 31173088 | 2 alunos
escola 31173169 | 11 alunos
escola 31173185 | 16 alunos
escola 31246115 | 58 alunos
escola 31303330 | 63 alunos
escola 31306967 | 26 alunos
escola 31313467 | 41 alunos
escola 931246115 | 4 alunos

A função custo considera alguns fatores, em primeiro lugar, cada veículo custa R\$ 1.000,00 e cada km percorrido custa R\$ 2,00

Para isso é necessário encontrar os veículos, calcular a distância percorrida de cada um e somar tudo.

Uma regra importante é que não podem ser transportado mais do que 8 alunos por veículo. Qualquer solução que gere mais que 8 aluno por veículo é considerada infactível.

In [8]:
def distancia(origem, destino):
  if origem == destino: return 0.0
  d = distancias.query(f"origem == {origem} and destino == {destino}")
  return d.iloc[0].distancia/1000.0 if d.size > 0 else float('inf')

def fitness(sol, alunos_escola, escola):
  custo_total = 0

  #print(f"\ta solucao tem {np.unique(sol[1,:]).size} veiculos")

  for veiculo in np.unique(sol[1,:]):
    alunos_veiculo = sol[0,sol[1,:]==veiculo]

    if alunos_veiculo.size > 8:
      return float('inf') # não podem ter mais que 8 alunos por veículo

    custo_veiculo = 1000 # 1000 reais por veículo

    vertice = alunos_escola.iloc[alunos_veiculo[0].item()].vertice_orig
    dist = 0
    for al in alunos_veiculo[1:]:
      novo_vertice = alunos_escola.iloc[al].vertice_orig
      dist += distancia(vertice, novo_vertice)
      vertice = novo_vertice

    dist += distancia(vertice, escola.vertice)
    custo_veiculo += dist * 2 # 2 reais por km
    custo_total += custo_veiculo

  #print(f"\tcusto: {custo_total}")
  return custo_total

In [9]:
for index, escola in escolas.iterrows():
  alunos_escola = alunos[alunos.cod_escola == escola['cod_escola']]
  n = len(alunos_escola.index)
  print(f"escola {escola.cod_escola} | {n} alunos")

  sol = np.array([[*range(n)], [*range(n)]])
  fitness(sol, alunos_escola, escola)

escola 311723 | 4 alunos
escola 31170674 | 5 alunos
escola 31173045 | 34 alunos
escola 31173053 | 23 alunos
escola 31173061 | 186 alunos
escola 31173088 | 2 alunos
escola 31173169 | 11 alunos
escola 31173185 | 16 alunos
escola 31246115 | 58 alunos
escola 31303330 | 63 alunos
escola 31306967 | 26 alunos
escola 31313467 | 41 alunos
escola 931246115 | 4 alunos

A ideia do trabalho consiste em modificar essa solução ou família de soluções simplesmente diminuindo o número de veículos ou trocando alunos de posição

# Relatório
Como relatório é importante mostrar uma solução completa do problema, mostrando custo total de transporte para todas as escolas e todos os alunos, além de detalhar todas as viagens, incluindo a distância percorrida, o custo e a ordem de coleta dos alunos.

Além disso, é importante explicar a lógica do código/estratégia desenvolvido e fazer uma análise crítica dos resultados obtidos.

In [10]:
import random

def muda_veiculo(sol):
  novo = sol.copy()
  l, n = novo.shape

  pos = random.randint(0,n-1)
  veiculo = random.randint(0,n-1)

  #print(f"pos: {pos} | veic {veiculo}")

  novo[1,pos] = veiculo

  #print(novo)

  return novo

In [45]:

for index, escola in escolas.iterrows():
  alunos_escola = alunos[alunos.cod_escola == escola['cod_escola']]
  n = len(alunos_escola.index)
  print(f"escola {escola.cod_escola} | {n} alunos")

  sol = np.array([[*range(n)], [*range(n)]])
  custo = fitness(sol, alunos_escola, escola)

  for it in range(1000):
    nsol = muda_veiculo(sol)
    ncusto = fitness(nsol, alunos_escola, escola)

    if ncusto < custo:
      sol = nsol
      custo = ncusto
  
  print(sol)
  print(f"\tordem de coleta:")
  for veiculo in np.unique(sol[1,:]):
    alunos_veiculo = sol[0,sol[1,:]==veiculo]
    vertice = alunos_escola.iloc[alunos_veiculo[0].item()].vertice_orig
    print(f"\t\tVeículo {veiculo}: escola -> Aluno {alunos_veiculo[0]}")
    for al in alunos_veiculo[1:]:
      novo_vertice = alunos_escola.iloc[al].vertice_orig
      dist = distancia(vertice, novo_vertice)
      print(f"\t\t          -> Aluno {al} ({dist:.1f} km)")
      vertice = novo_vertice
    print(f"\t\t          -> escola ({distancia(vertice, escola.vertice):.1f} km)")

  print(f'\tcusto da solucao: R${custo:.2f}\n')

escola 311723 | 4 alunos
[[0 1 2 3]
 [1 2 2 0]]
	ordem de coleta:
		Veículo 0: escola -> Aluno 3
		          -> escola (0.6 km)
		Veículo 1: escola -> Aluno 0
		          -> escola (5.6 km)
		Veículo 2: escola -> Aluno 1
		          -> Aluno 2 (8.0 km)
		          -> escola (2.3 km)
	custo da solucao: R$1022.23

escola 31170674 | 5 alunos
[[0 1 2 3 4]
 [1 1 3 1 0]]
	ordem de coleta:
		Veículo 0: escola -> Aluno 4
		          -> escola (19.7 km)
		Veículo 1: escola -> Aluno 0
		          -> Aluno 1 (37.3 km)
		          -> Aluno 3 (46.9 km)
		          -> escola (22.5 km)
		Veículo 3: escola -> Aluno 2
		          -> escola (22.4 km)
	custo da solucao: R$2124.27

escola 31173045 | 34 alunos
[[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
  24 25 26 27 28 29 30 31 32 33]
 [ 1 21  9  1  7 15 18  2  4 22  2 20 26 17 18 19 25 16 25 24 13 11 21  7
   1 33 24  8  1  1 31  6 29 23]]
	ordem de coleta:
		Veículo 1: escola -> Aluno 0
		          -> Aluno 3 (8.9 km)
		          -> Aluno 24 (22.2 km)
		          -> Aluno 28 (24.4 km)
		          -> Aluno 29 (0.0 km)
		          -> escola (12.5 km)
		Veículo 2: escola -> Aluno 7
		          -> Aluno 10 (6.9 km)
		          -> escola (9.5 km)
		Veículo 4: escola -> Aluno 8
		          -> escola (14.2 km)
		Veículo 6: escola -> Aluno 31
		          -> escola (19.6 km)
		Veículo 7: escola -> Aluno 4
		          -> Aluno 23 (4.7 km)
		          -> escola (6.2 km)
		Veículo 8: escola -> Aluno 27
		          -> escola (5.3 km)
		Veículo 9: escola -> Aluno 2
		          -> escola (12.3 km)
		Veículo 11: escola -> Aluno 21
		          -> escola (4.6 km)
		Veículo 13: escola -> Aluno 20
		          -> escola (12.3 km)
		Veículo 15: escola -> Aluno 5
		          -> escola (13.7 km)
		Veículo 16: escola -> Aluno 17
		          -> escola (12.1 km)
		Veículo 17: escola -> Aluno 13
		          -> escola (16.5 km)
		Veículo 18: escola -> Aluno 6
		          -> Aluno 14 (4.5 km)
		          -> escola (13.7 km)
		Veículo 19: escola -> Aluno 15
		          -> escola (16.5 km)
		Veículo 20: escola -> Aluno 11
		          -> escola (9.5 km)
		Veículo 21: escola -> Aluno 1
		          -> Aluno 22 (6.2 km)
		          -> escola (18.1 km)
		Veículo 22: escola -> Aluno 9
		          -> escola (1.9 km)
		Veículo 23: escola -> Aluno 33
		          -> escola (12.2 km)
		Veículo 24: escola -> Aluno 19
		          -> Aluno 26 (10.4 km)
		          -> escola (13.7 km)
		Veículo 25: escola -> Aluno 16
		          -> Aluno 18 (10.5 km)
		          -> escola (19.6 km)
		Veículo 26: escola -> Aluno 12
		          -> escola (5.5 km)
		Veículo 29: escola -> Aluno 32
		          -> escola (14.7 km)
		Veículo 31: escola -> Aluno 30
		          -> escola (8.6 km)
		Veículo 33: escola -> Aluno 25
		          -> escola (16.5 km)
	custo da solucao: R$17884.81

escola 31173053 | 23 alunos
[[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22]
 [10 18 22 22 12 12 13  0 20 10  3  6 22  2 17 21  1 13 22  1 12  6 18]]
	ordem de coleta:
		Veículo 0: escola -> Aluno 7
		          -> escola (3.3 km)
		Veículo 1: escola -> Aluno 16
		          -> Aluno 19 (6.4 km)
		          -> escola (4.8 km)
		Veículo 2: escola -> Aluno 13
		          -> escola (5.9 km)
		Veículo 3: escola -> Aluno 10
		          -> escola (7.9 km)
		Veículo 6: escola -> Aluno 11
		          -> Aluno 21 (2.0 km)
		          -> escola (10.1 km)
		Veículo 10: escola -> Aluno 0
		          -> Aluno 9 (3.8 km)
		          -> escola (13.1 km)
		Veículo 12: escola -> Aluno 4
		          -> Aluno 5 (1.8 km)
		          -> Aluno 20 (3.6 km)
		          -> escola (10.1 km)
		Veículo 13: escola -> Aluno 6
		          -> Aluno 17 (5.5 km)
		          -> escola (7.7 km)
		Veículo 17: escola -> Aluno 14
		          -> escola (3.2 km)
		Veículo 18: escola -> Aluno 1
		          -> Aluno 22 (3.4 km)
		          -> escola (7.1 km)
		Veículo 20: escola -> Aluno 8
		          -> escola (1.4 km)
		Veículo 21: escola -> Aluno 15
		          -> escola (7.9 km)
		Veículo 22: escola -> Aluno 2
		          -> Aluno 3 (6.4 km)
		          -> Aluno 12 (8.4 km)
		          -> Aluno 18 (8.4 km)
		          -> escola (3.6 km)
	custo da solucao: R$11284.53

escola 31173061 | 186 alunos
[[  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
   18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
   36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
   54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
   72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
   90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107
  108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125
  126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143
  144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161
  162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179
  180 181 182 183 184 185]
 [ 55  50 109  70 169  22 156 143  47 137  24  27 177 178 115  22   2  21
  167 116  51  28  77 169  96 185 152 162  34 120 161  53  21   3 172  79
   73  24  31  38  50   3  13  11  34 129  87  18   6  51 113 182  51 130
  132  40   2  65  38 180  17  67  73 167 104 153  41   3  18  39 131 140
   13 102 171 118  13 125  78  59  73  50  61 120 135  78 140  41 118  86
  182 173   4 130 160  24 122 130  74  10  38  44  99  82  54 162 141 167
  152  78 137  22 165 159  34   4  81  99  41  51  90  36 156  18 100 185
   22 112  34 143 130 130 172  88  56  16   3 130 137  95 136 163  42  53
  118 102  64  29 165  23  34  72  68  80  62 133  83 181  84  20  23 142
  110 121  25   4 106 123 108  26 166   1  43  10  23 124  21  70 171  90
  185   1  41  98 180 138]]
	ordem de coleta:
		Veículo 1: escola -> Aluno 171
		          -> Aluno 181 (13.2 km)
		          -> escola (5.1 km)
		Veículo 2: escola -> Aluno 16
		          -> Aluno 56 (4.2 km)
		          -> escola (1.7 km)
		Veículo 3: escola -> Aluno 33
		          -> Aluno 41 (30.7 km)
		          -> Aluno 67 (3.3 km)
		          -> Aluno 136 (32.0 km)
		          -> escola (14.6 km)
		Veículo 4: escola -> Aluno 92
		          -> Aluno 115 (13.7 km)
		          -> Aluno 165 (6.9 km)
		          -> escola (2.1 km)
		Veículo 6: escola -> Aluno 48
		          -> escola (5.2 km)
		Veículo 10: escola -> Aluno 99
		          -> Aluno 173 (29.3 km)
		          -> escola (11.5 km)
		Veículo 11: escola -> Aluno 43
		          -> escola (11.9 km)
		Veículo 13: escola -> Aluno 42
		          -> Aluno 72 (14.6 km)
		          -> Aluno 76 (14.1 km)
		          -> escola (16.5 km)
		Veículo 16: escola -> Aluno 135
		          -> escola (2.5 km)
		Veículo 17: escola -> Aluno 60
		          -> escola (10.7 km)
		Veículo 18: escola -> Aluno 47
		          -> Aluno 68 (20.5 km)
		          -> Aluno 123 (18.2 km)
		          -> escola (17.0 km)
		Veículo 20: escola -> Aluno 159
		          -> escola (11.5 km)
		Veículo 21: escola -> Aluno 17
		          -> Aluno 32 (8.4 km)
		          -> Aluno 176 (3.8 km)
		          -> escola (5.1 km)
		Veículo 22: escola -> Aluno 5
		          -> Aluno 15 (2.1 km)
		          -> Aluno 111 (20.6 km)
		          -> Aluno 126 (23.1 km)
		          -> escola (17.3 km)
		Veículo 23: escola -> Aluno 149
		          -> Aluno 160 (10.1 km)
		          -> Aluno 174 (30.1 km)
		          -> escola (22.9 km)
		Veículo 24: escola -> Aluno 10
		          -> Aluno 37 (22.2 km)
		          -> Aluno 95 (23.8 km)
		          -> escola (20.8 km)
		Veículo 25: escola -> Aluno 164
		          -> escola (16.2 km)
		Veículo 26: escola -> Aluno 169
		          -> escola (6.4 km)
		Veículo 27: escola -> Aluno 11
		          -> escola (17.0 km)
		Veículo 28: escola -> Aluno 21
		          -> escola (12.3 km)
		Veículo 29: escola -> Aluno 147
		          -> escola (4.3 km)
		Veículo 31: escola -> Aluno 38
		          -> escola (16.1 km)
		Veículo 34: escola -> Aluno 28
		          -> Aluno 44 (15.6 km)
		          -> Aluno 114 (0.8 km)
		          -> Aluno 128 (8.2 km)
		          -> Aluno 150 (25.0 km)
		          -> escola (7.9 km)
		Veículo 36: escola -> Aluno 121
		          -> escola (20.6 km)
		Veículo 38: escola -> Aluno 39
		          -> Aluno 58 (20.8 km)
		          -> Aluno 100 (16.2 km)
		          -> escola (17.8 km)
		Veículo 39: escola -> Aluno 69
		          -> escola (7.2 km)
		Veículo 40: escola -> Aluno 55
		          -> escola (3.8 km)
		Veículo 41: escola -> Aluno 66
		          -> Aluno 87 (14.9 km)
		          -> Aluno 118 (26.0 km)
		          -> Aluno 182 (33.5 km)
		          -> escola (17.3 km)
		Veículo 42: escola -> Aluno 142
		          -> escola (4.6 km)
		Veículo 43: escola -> Aluno 172
		          -> escola (17.4 km)
		Veículo 44: escola -> Aluno 101
		          -> escola (17.0 km)
		Veículo 47: escola -> Aluno 8
		          -> escola (4.0 km)
		Veículo 50: escola -> Aluno 1
		          -> Aluno 40 (12.7 km)
		          -> Aluno 81 (19.0 km)
		          -> escola (8.1 km)
		Veículo 51: escola -> Aluno 20
		          -> Aluno 49 (22.3 km)
		          -> Aluno 52 (8.3 km)
		          -> Aluno 119 (17.7 km)
		          -> escola (17.7 km)
		Veículo 53: escola -> Aluno 31
		          -> Aluno 143 (33.6 km)
		          -> escola (11.3 km)
		Veículo 54: escola -> Aluno 104
		          -> escola (7.1 km)
		Veículo 55: escola -> Aluno 0
		          -> escola (7.1 km)
		Veículo 56: escola -> Aluno 134
		          -> escola (5.2 km)
		Veículo 59: escola -> Aluno 79
		          -> escola (3.3 km)
		Veículo 61: escola -> Aluno 82
		          -> escola (17.6 km)
		Veículo 62: escola -> Aluno 154
		          -> escola (6.0 km)
		Veículo 64: escola -> Aluno 146
		          -> escola (20.6 km)
		Veículo 65: escola -> Aluno 57
		          -> escola (7.6 km)
		Veículo 67: escola -> Aluno 61
		          -> escola (5.2 km)
		Veículo 68: escola -> Aluno 152
		          -> escola (13.3 km)
		Veículo 70: escola -> Aluno 3
		          -> Aluno 177 (12.6 km)
		          -> escola (8.4 km)
		Veículo 72: escola -> Aluno 151
		          -> escola (12.3 km)
		Veículo 73: escola -> Aluno 36
		          -> Aluno 62 (15.7 km)
		          -> Aluno 80 (21.1 km)
		          -> escola (3.4 km)
		Veículo 74: escola -> Aluno 98
		          -> escola (15.8 km)
		Veículo 77: escola -> Aluno 22
		          -> escola (17.4 km)
		Veículo 78: escola -> Aluno 78
		          -> Aluno 85 (10.0 km)
		          -> Aluno 109 (19.5 km)
		          -> escola (17.3 km)
		Veículo 79: escola -> Aluno 35
		          -> escola (3.6 km)
		Veículo 80: escola -> Aluno 153
		          -> escola (20.6 km)
		Veículo 81: escola -> Aluno 116
		          -> escola (16.3 km)
		Veículo 82: escola -> Aluno 103
		          -> escola (15.2 km)
		Veículo 83: escola -> Aluno 156
		          -> escola (14.1 km)
		Veículo 84: escola -> Aluno 158
		          -> escola (13.5 km)
		Veículo 86: escola -> Aluno 89
		          -> escola (18.5 km)
		Veículo 87: escola -> Aluno 46
		          -> escola (16.8 km)
		Veículo 88: escola -> Aluno 133
		          -> escola (4.4 km)
		Veículo 90: escola -> Aluno 120
		          -> Aluno 179 (16.2 km)
		          -> escola (5.1 km)
		Veículo 95: escola -> Aluno 139
		          -> escola (6.1 km)
		Veículo 96: escola -> Aluno 24
		          -> escola (5.9 km)
		Veículo 98: escola -> Aluno 183
		          -> escola (17.4 km)
		Veículo 99: escola -> Aluno 102
		          -> Aluno 117 (15.8 km)
		          -> escola (11.7 km)
		Veículo 100: escola -> Aluno 124
		          -> escola (16.2 km)
		Veículo 102: escola -> Aluno 73
		          -> Aluno 145 (9.1 km)
		          -> escola (3.3 km)
		Veículo 104: escola -> Aluno 64
		          -> escola (22.9 km)
		Veículo 106: escola -> Aluno 166
		          -> escola (4.4 km)
		Veículo 108: escola -> Aluno 168
		          -> escola (4.3 km)
		Veículo 109: escola -> Aluno 2
		          -> escola (16.8 km)
		Veículo 110: escola -> Aluno 162
		          -> escola (1.7 km)
		Veículo 112: escola -> Aluno 127
		          -> escola (5.9 km)
		Veículo 113: escola -> Aluno 50
		          -> escola (23.1 km)
		Veículo 115: escola -> Aluno 14
		          -> escola (5.3 km)
		Veículo 116: escola -> Aluno 19
		          -> escola (13.2 km)
		Veículo 118: escola -> Aluno 75
		          -> Aluno 88 (8.1 km)
		          -> Aluno 144 (18.2 km)
		          -> escola (1.1 km)
		Veículo 120: escola -> Aluno 29
		          -> Aluno 83 (22.0 km)
		          -> escola (16.9 km)
		Veículo 121: escola -> Aluno 163
		          -> escola (10.4 km)
		Veículo 122: escola -> Aluno 96
		          -> escola (3.3 km)
		Veículo 123: escola -> Aluno 167
		          -> escola (11.2 km)
		Veículo 124: escola -> Aluno 175
		          -> escola (20.8 km)
		Veículo 125: escola -> Aluno 77
		          -> escola (2.7 km)
		Veículo 129: escola -> Aluno 45
		          -> escola (10.8 km)
		Veículo 130: escola -> Aluno 53
		          -> Aluno 93 (13.6 km)
		          -> Aluno 97 (7.2 km)
		          -> Aluno 130 (0.0 km)
		          -> Aluno 131 (24.3 km)
		          -> Aluno 137 (1.7 km)
		          -> escola (16.2 km)
		Veículo 131: escola -> Aluno 70
		          -> escola (4.1 km)
		Veículo 132: escola -> Aluno 54
		          -> escola (7.1 km)
		Veículo 133: escola -> Aluno 155
		          -> escola (6.1 km)
		Veículo 135: escola -> Aluno 84
		          -> escola (20.8 km)
		Veículo 136: escola -> Aluno 140
		          -> escola (22.9 km)
		Veículo 137: escola -> Aluno 9
		          -> Aluno 110 (12.5 km)
		          -> Aluno 138 (11.8 km)
		          -> escola (17.6 km)
		Veículo 138: escola -> Aluno 185
		          -> escola (14.5 km)
		Veículo 140: escola -> Aluno 71
		          -> Aluno 86 (0.3 km)
		          -> escola (14.5 km)
		Veículo 141: escola -> Aluno 106
		          -> escola (17.3 km)
		Veículo 142: escola -> Aluno 161
		          -> escola (23.1 km)
		Veículo 143: escola -> Aluno 7
		          -> Aluno 129 (18.7 km)
		          -> escola (17.6 km)
		Veículo 152: escola -> Aluno 26
		          -> Aluno 108 (1.7 km)
		          -> escola (16.4 km)
		Veículo 153: escola -> Aluno 65
		          -> escola (8.7 km)
		Veículo 156: escola -> Aluno 6
		          -> Aluno 122 (22.1 km)
		          -> escola (16.2 km)
		Veículo 159: escola -> Aluno 113
		          -> escola (16.3 km)
		Veículo 160: escola -> Aluno 94
		          -> escola (14.5 km)
		Veículo 161: escola -> Aluno 30
		          -> escola (12.8 km)
		Veículo 162: escola -> Aluno 27
		          -> Aluno 105 (14.5 km)
		          -> escola (11.9 km)
		Veículo 163: escola -> Aluno 141
		          -> escola (13.2 km)
		Veículo 165: escola -> Aluno 112
		          -> Aluno 148 (10.7 km)
		          -> escola (1.4 km)
		Veículo 166: escola -> Aluno 170
		          -> escola (5.9 km)
		Veículo 167: escola -> Aluno 18
		          -> Aluno 63 (30.0 km)
		          -> Aluno 107 (4.7 km)
		          -> escola (14.1 km)
		Veículo 169: escola -> Aluno 4
		          -> Aluno 23 (14.3 km)
		          -> escola (17.1 km)
		Veículo 171: escola -> Aluno 74
		          -> Aluno 178 (17.1 km)
		          -> escola (14.1 km)
		Veículo 172: escola -> Aluno 34
		          -> Aluno 132 (22.8 km)
		          -> escola (16.3 km)
		Veículo 173: escola -> Aluno 91
		          -> escola (16.9 km)
		Veículo 177: escola -> Aluno 12
		          -> escola (13.1 km)
		Veículo 178: escola -> Aluno 13
		          -> escola (5.2 km)
		Veículo 180: escola -> Aluno 59
		          -> Aluno 184 (12.1 km)
		          -> escola (14.2 km)
		Veículo 181: escola -> Aluno 157
		          -> escola (16.9 km)
		Veículo 182: escola -> Aluno 51
		          -> Aluno 90 (19.1 km)
		          -> escola (20.8 km)
		Veículo 185: escola -> Aluno 25
		          -> Aluno 125 (19.9 km)
		          -> Aluno 180 (2.4 km)
		          -> escola (3.5 km)
	custo da solucao: R$203027.23

escola 31173088 | 2 alunos
[[0 1]
 [1 1]]
	ordem de coleta:
		Veículo 1: escola -> Aluno 0
		          -> Aluno 1 (12.0 km)
		          -> escola (4.0 km)
	custo da solucao: R$1032.05

escola 31173169 | 11 alunos
[[ 0  1  2  3  4  5  6  7  8  9 10]
 [ 2  9  6  0  1  5 10  1  6  8  1]]
	ordem de coleta:
		Veículo 0: escola -> Aluno 3
		          -> escola (4.0 km)
		Veículo 1: escola -> Aluno 4
		          -> Aluno 7 (10.2 km)
		          -> Aluno 10 (8.3 km)
		          -> escola (12.4 km)
		Veículo 2: escola -> Aluno 0
		          -> escola (12.7 km)
		Veículo 5: escola -> Aluno 5
		          -> escola (4.0 km)
		Veículo 6: escola -> Aluno 2
		          -> Aluno 8 (16.1 km)
		          -> escola (12.4 km)
		Veículo 8: escola -> Aluno 9
		          -> escola (14.0 km)
		Veículo 9: escola -> Aluno 1
		          -> escola (11.4 km)
		Veículo 10: escola -> Aluno 6
		          -> escola (14.4 km)
	custo da solucao: R$4210.73

escola 31173185 | 16 alunos
[[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15]
 [ 9 14  2  7  0 12 10  6  7  4  3  7  8 12  2  5]]
	ordem de coleta:
		Veículo 0: escola -> Aluno 4
		          -> escola (9.6 km)
		Veículo 2: escola -> Aluno 2
		          -> Aluno 14 (6.6 km)
		          -> escola (2.6 km)
		Veículo 3: escola -> Aluno 10
		          -> escola (6.1 km)
		Veículo 4: escola -> Aluno 9
		          -> escola (7.6 km)
		Veículo 5: escola -> Aluno 15
		          -> escola (2.6 km)
		Veículo 6: escola -> Aluno 7
		          -> escola (11.3 km)
		Veículo 7: escola -> Aluno 3
		          -> Aluno 8 (0.7 km)
		          -> Aluno 11 (6.6 km)
		          -> escola (4.2 km)
		Veículo 8: escola -> Aluno 12
		          -> escola (27.9 km)
		Veículo 9: escola -> Aluno 0
		          -> escola (2.6 km)
		Veículo 10: escola -> Aluno 6
		          -> escola (4.1 km)
		Veículo 12: escola -> Aluno 5
		          -> Aluno 13 (4.6 km)
		          -> escola (8.6 km)
		Veículo 14: escola -> Aluno 1
		          -> escola (12.9 km)
	custo da solucao: R$7264.27

escola 31246115 | 58 alunos
[[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
  24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47
  48 49 50 51 52 53 54 55 56 57]
 [10 47 25 56 30 35 42  2 57 45  2  3 38 33 17 50 48 48 45 12 28 38 49 53
  18 17 23  1 33 41 13 25 42 24 28 49 50 39 57 57 31 41 18 10 13  5 24 27
  57  6 44  9 15  1 42 47 39 15]]
	ordem de coleta:
		Veículo 1: escola -> Aluno 27
		          -> Aluno 53 (10.6 km)
		          -> escola (9.7 km)
		Veículo 2: escola -> Aluno 7
		          -> Aluno 10 (0.0 km)
		          -> escola (8.5 km)
		Veículo 3: escola -> Aluno 11
		          -> escola (3.4 km)
		Veículo 5: escola -> Aluno 45
		          -> escola (4.8 km)
		Veículo 6: escola -> Aluno 49
		          -> escola (9.3 km)
		Veículo 9: escola -> Aluno 51
		          -> escola (11.5 km)
		Veículo 10: escola -> Aluno 0
		          -> Aluno 43 (8.9 km)
		          -> escola (9.3 km)
		Veículo 12: escola -> Aluno 19
		          -> escola (13.7 km)
		Veículo 13: escola -> Aluno 30
		          -> Aluno 44 (19.3 km)
		          -> escola (10.7 km)
		Veículo 15: escola -> Aluno 52
		          -> Aluno 57 (0.5 km)
		          -> escola (9.4 km)
		Veículo 17: escola -> Aluno 14
		          -> Aluno 25 (16.7 km)
		          -> escola (13.7 km)
		Veículo 18: escola -> Aluno 24
		          -> Aluno 42 (13.7 km)
		          -> escola (10.2 km)
		Veículo 23: escola -> Aluno 26
		          -> escola (8.1 km)
		Veículo 24: escola -> Aluno 33
		          -> Aluno 46 (6.0 km)
		          -> escola (6.9 km)
		Veículo 25: escola -> Aluno 2
		          -> Aluno 31 (8.8 km)
		          -> escola (13.7 km)
		Veículo 27: escola -> Aluno 47
		          -> escola (3.4 km)
		Veículo 28: escola -> Aluno 20
		          -> Aluno 34 (13.3 km)
		          -> escola (8.5 km)
		Veículo 30: escola -> Aluno 4
		          -> escola (9.3 km)
		Veículo 31: escola -> Aluno 40
		          -> escola (10.2 km)
		Veículo 33: escola -> Aluno 13
		          -> Aluno 28 (16.5 km)
		          -> escola (2.9 km)
		Veículo 35: escola -> Aluno 5
		          -> escola (11.3 km)
		Veículo 38: escola -> Aluno 12