<a href="https://colab.research.google.com/github/Lucassius/Daydreams/blob/main/ResolucaoDoProblemaTransporteDeAlunoseEscolas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Trabalho 1

O trabalho consistem em realizar o transporte de alunos e escolas no menor custo possível. Vocês podem definir o melhor comprimisso entre número de veículos e distância percorrida por veículo

Para isso é necessário baicar uma base de dados com os dados dos alunos, das escolas e as distãncias entre quaisquer dois pares de vértices

In [1]:
# download da base de dados
!wget https://github.com/lucasvra/domotica_robotica/raw/main/dados/trabalho.sqlite

--2023-05-07 22:32:45--  https://github.com/lucasvra/domotica_robotica/raw/main/dados/trabalho.sqlite
Resolving github.com (github.com)... 140.82.112.4
Connecting to github.com (github.com)|140.82.112.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/lucasvra/domotica_robotica/main/dados/trabalho.sqlite [following]
--2023-05-07 22:32:45--  https://raw.githubusercontent.com/lucasvra/domotica_robotica/main/dados/trabalho.sqlite
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 16101376 (15M) [application/octet-stream]
Saving to: ‘trabalho.sqlite’

trabalho.sqlite     100%[===================>]  15.36M  --.-KB/s    in 0.1s

2023-05-07 22:32:45 (133 MB/s) - ‘trabalho.sqlite’ saved [16101376/16101376]

O dados são organizados em três tabelas, alunos_req, escolas_req e distancias_req. Cada aluno tem um vértice_orig que é seu ponto de partida. Seu vértice de destino deve ser o vértice da escola ao qual ele pertence.

A distância é data tanto em metros quanto em minutos. Neste trabalho deve-se utilizar a distância em metros.

In [2]:
import pandas as pd
import numpy as np
import sqlite3

con = sqlite3.connect("trabalho.sqlite")
alunos = pd.read_sql_query("SELECT * from alunos_req", con)
escolas = pd.read_sql_query("SELECT * from escolas_req", con)
distancias = pd.read_sql_query("SELECT * from distancias_req", con)

In [3]:
alunos.head()

   cod_aluno  vertice_orig  dist_perc turno  cod_escola tipo ensino
0    2496080          7222   5.252289     M    31173053    M     EF
1    2496081          3135  12.709945     M    31173053    M     PE
2    2496083          7247  26.376901     M    31173053    M     EF
3    2496084          7264  19.606927     M    31173053    M     EF
4    2496090          2750  14.089380     M    31173053    M     EF

In [4]:
escolas.head()

,vertice,entrada_m,saida_m,entrada_t,saida_t,entrada_n,saida_n,cod_escola
0,5339,07:30:00,11:30:00,12:30:00,16:45:00,18:00:00,22:15:00,311723
1,4604,07:00:00,11:10:00,13:00:00,17:00:00,19:00:00,23:00:00,31170674
2,7376,07:30:00,11:25:00,13:00:00,17:25:00,18:30:00,22:00:00,31173045
3,3997,07:20:00,11:35:00,13:00:00,17:15:00,18:00:00,22:15:00,31173053
4,7375,07:00:00,11:25:00,13:00:00,17:25:00,18:30:00,22:00:00,31173061

In [5]:
distancias.head()

   origem  destino   distancia      tempo
0    2763      300  11478.7640  22.910070
1    2763     2710   7106.7485  14.213497
2    2763     2750   2388.5647   4.777130
3    2763     2920  23322.0430  36.493070
4    2763     2970  24995.4750  36.925260

O problema deve ser resolvido utilizando algoritmos genéticos ou alguma variação deles (algoritmos evolucionários, VNS, clonal, etc)

Para isso se faz necessário codificar a solução num formato de genoma.

Considerando que temos n alunos, uma solução é codificada como uma matriz 2xn, ou seja com duas linhas e n colunas.

A primeira linha é composta do índice do aluno no dataframe alunos_escola e a segunda linha é o índice do veículo usado pra transporta esse aluno.

A solução inicial é considerar um veículo por aluno, então a solução seria algo no sentido.

[ 1, 2, 3, ... n-1]

[ 1, 2, 3, ... n-1]
 
Ou seja trocando as posições dos alunos na primeira linha, trocamos a ordem com que eles são levados à escola, trocando

In [6]:
for index, row in escolas.iterrows():
  alunos_escola = alunos[alunos.cod_escola == row['cod_escola']]
  n = len(alunos_escola.index)
  print(f"escola {row['cod_escola']} | {n} alunos")

  sol = np.array([[*range(n)], [*range(n)]])

escola 311723 | 4 alunos
escola 31170674 | 5 alunos
escola 31173045 | 34 alunos
escola 31173053 | 23 alunos
escola 31173061 | 186 alunos
escola 31173088 | 2 alunos
escola 31173169 | 11 alunos
escola 31173185 | 16 alunos
escola 31246115 | 58 alunos
escola 31303330 | 63 alunos
escola 31306967 | 26 alunos
escola 31313467 | 41 alunos
escola 931246115 | 4 alunos

A função custo considera alguns fatores, em primeiro lugar, cada veículo custa R\$ 1.000,00 e cada km percorrido custa R\$ 2,00

Para isso é necessário encontrar os veículos, calcular a distância percorrida de cada um e somar tudo.

Uma regra importante é que não podem ser transportado mais do que 8 alunos por veículo. Qualquer solução que gere mais que 8 aluno por veículo é considerada infactível.

In [7]:
def distancia(origem, destino):
  if origem == destino: return 0.0
  d = distancias.query(f"origem == {origem} and destino == {destino}")
  return d.iloc[0].distancia/1000.0 if d.size > 0 else float('inf')

def fitness(sol, alunos_escola, escola):
  custo_total = 0

  #print(f"\ta solucao tem {np.unique(sol[1,:]).size} veiculos")

  for veiculo in np.unique(sol[1,:]):
    alunos_veiculo = sol[0,sol[1,:]==veiculo]

    if alunos_veiculo.size > 8:
      return float('inf') # não podem ter mais que 8 alunos por veículo

    custo_veiculo = 1000 # 1000 reais por veículo

    vertice = alunos_escola.iloc[alunos_veiculo[0].item()].vertice_orig
    dist = 0
    for al in alunos_veiculo[1:]:
      novo_vertice = alunos_escola.iloc[al].vertice_orig
      dist += distancia(vertice, novo_vertice)
      vertice = novo_vertice

    dist += distancia(vertice, escola.vertice)
    custo_veiculo += dist * 2 # 2 reais por km
    custo_total += custo_veiculo

  #print(f"\tcusto: {custo_total}")
  return custo_total

In [8]:
for index, escola in escolas.iterrows():
  alunos_escola = alunos[alunos.cod_escola == escola['cod_escola']]
  n = len(alunos_escola.index)
  print(f"escola {escola.cod_escola} | {n} alunos")

  sol = np.array([[*range(n)], [*range(n)]])
  fitness(sol, alunos_escola, escola)

escola 311723 | 4 alunos
escola 31170674 | 5 alunos
escola 31173045 | 34 alunos
escola 31173053 | 23 alunos
escola 31173061 | 186 alunos
escola 31173088 | 2 alunos
escola 31173169 | 11 alunos
escola 31173185 | 16 alunos
escola 31246115 | 58 alunos
escola 31303330 | 63 alunos
escola 31306967 | 26 alunos
escola 31313467 | 41 alunos
escola 931246115 | 4 alunos

A ideia do trabalho consiste em modificar essa solução ou família de soluções simplesmente diminuindo o número de veículos ou trocando alunos de posição

# Relatório
Como relatório é importante mostrar uma solução completa do problema, mostrando custo total de transporte para todas as escolas e todos os alunos, além de detalhar todas as viagens, incluindo a distância percorrida, o custo e a ordem de coleta dos alunos.

Além disso, é importante explicar a lógica do código/estratégia desenvolvido e fazer uma análise crítica dos resultados obtidos.

In [9]:
import random

def muda_veiculo(sol):
  novo = sol.copy()
  l, n = novo.shape

  pos = random.randint(0,n-1)
  veiculo = random.randint(0,n-1)

  #print(f"pos: {pos} | veic {veiculo}")

  novo[1,pos] = veiculo

  #print(novo)

  return novo

In [13]:

for index, escola in escolas.iterrows():
  alunos_escola = alunos[alunos.cod_escola == escola['cod_escola']]
  n = len(alunos_escola.index)
  print(f"escola {escola.cod_escola} | {n} alunos")

  sol = np.array([[*range(n)], [*range(n)]])
  custo = fitness(sol, alunos_escola, escola)
  max_sem_melhora = 100
  it_sem_melhora = 0

  for it in range(1000):
    nsol = muda_veiculo(sol)
    ncusto = fitness(nsol, alunos_escola, escola)

    if ncusto < custo:
      sol = nsol
      custo = ncusto
      it_sem_melhora = 0
    else:
      it_sem_melhora += 1

    if it_sem_melhora >= max_sem_melhora:
      break
  
  print(sol)
  print(f"\tordem de coleta:")
  for veiculo in np.unique(sol[1,:]):
    alunos_veiculo = sol[0,sol[1,:]==veiculo]
    vertice = alunos_escola.iloc[alunos_veiculo[0].item()].vertice_orig
    print(f"\t\tVeículo {veiculo}: escola -> Aluno {alunos_veiculo[0]}")
    for al in alunos_veiculo[1:]:
      novo_vertice = alunos_escola.iloc[al].vertice_orig
      dist = distancia(vertice, novo_vertice)
      print(f"\t\t          -> Aluno {al} ({dist:.1f} km)")
      vertice = novo_vertice
    print(f"\t\t          -> escola ({distancia(vertice, escola.vertice):.1f} km)")

  print(f'\tcusto da solucao: R${custo:.2f}\n')

escola 311723 | 4 alunos
[[0 1 2 3]
 [1 1 1 1]]
	ordem de coleta:
		Veículo 1: escola -> Aluno 0
		          -> Aluno 1 (0.0 km)
		          -> Aluno 2 (8.0 km)
		          -> Aluno 3 (2.5 km)
		          -> escola (0.6 km)
	custo da solucao: R$1022.23

escola 31170674 | 5 alunos
[[0 1 2 3 4]
 [3 3 3 3 3]]
	ordem de coleta:
		Veículo 3: escola -> Aluno 0
		          -> Aluno 1 (37.3 km)
		          -> Aluno 2 (46.7 km)
		          -> Aluno 3 (0.6 km)
		          -> Aluno 4 (41.3 km)
		          -> escola (19.7 km)
	custo da solucao: R$1291.28

escola 31173045 | 34 alunos
[[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
  24 25 26 27 28 29 30 31 32 33]
 [25 21 17 25 26  5  9  9  8  5 11 11  9 21 17 25  7 17  9 21 33 26  7 21
  21 25 26 17  7  8 11 21 11 33]]
	ordem de coleta:
		Veículo 5: escola -> Aluno 5
		          -> Aluno 9 (15.2 km)
		          -> escola (1.9 km)
		Veículo 7: escola -> Aluno 16
		          -> Aluno 22 (15.2 km)
		          -> Aluno 28 (17.5 km)
		          -> escola (12.5 km)
		Veículo 8: escola -> Aluno 8
		          -> Aluno 29 (9.9 km)
		          -> escola (12.5 km)
		Veículo 9: escola -> Aluno 6
		          -> Aluno 7 (11.4 km)
		          -> Aluno 12 (0.7 km)
		          -> Aluno 18 (25.0 km)
		          -> escola (19.6 km)
		Veículo 11: escola -> Aluno 10
		          -> Aluno 11 (0.0 km)
		          -> Aluno 30 (8.3 km)
		          -> Aluno 32 (14.4 km)
		          -> escola (14.7 km)
		Veículo 17: escola -> Aluno 2
		          -> Aluno 14 (2.2 km)
		          -> Aluno 17 (2.0 km)
		          -> Aluno 27 (9.6 km)
		          -> escola (5.3 km)
		Veículo 21: escola -> Aluno 1
		          -> Aluno 13 (13.0 km)
		          -> Aluno 19 (22.5 km)
		          -> Aluno 23 (0.0 km)
		          -> Aluno 24 (23.5 km)
		          -> Aluno 31 (11.3 km)
		          -> escola (19.6 km)
		Veículo 25: escola -> Aluno 0
		          -> Aluno 3 (8.9 km)
		          -> Aluno 15 (21.2 km)
		          -> Aluno 25 (0.0 km)
		          -> escola (16.5 km)
		Veículo 26: escola -> Aluno 4
		          -> Aluno 21 (8.4 km)
		          -> Aluno 26 (17.9 km)
		          -> escola (13.7 km)
		Veículo 33: escola -> Aluno 20
		          -> Aluno 33 (0.7 km)
		          -> escola (12.2 km)
	custo da solucao: R$10774.58

escola 31173053 | 23 alunos
[[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22]
 [ 1 13  2  3 12  9  9 13 13  9  2  1 12  3  9  2  1  3  9  9 12 12  1]]
	ordem de coleta:
		Veículo 1: escola -> Aluno 0
		          -> Aluno 11 (3.8 km)
		          -> Aluno 16 (2.0 km)
		          -> Aluno 22 (3.8 km)
		          -> escola (7.1 km)
		Veículo 2: escola -> Aluno 2
		          -> Aluno 10 (4.7 km)
		          -> Aluno 15 (0.0 km)
		          -> escola (7.9 km)
		Veículo 3: escola -> Aluno 3
		          -> Aluno 13 (2.9 km)
		          -> Aluno 17 (3.8 km)
		          -> escola (7.7 km)
		Veículo 9: escola -> Aluno 5
		          -> Aluno 6 (0.0 km)
		          -> Aluno 9 (0.0 km)
		          -> Aluno 14 (9.9 km)
		          -> Aluno 18 (0.4 km)
		          -> Aluno 19 (1.8 km)
		          -> escola (4.8 km)
		Veículo 12: escola -> Aluno 4
		          -> Aluno 12 (0.0 km)
		          -> Aluno 20 (2.0 km)
		          -> Aluno 21 (0.0 km)
		          -> escola (10.1 km)
		Veículo 13: escola -> Aluno 1
		          -> Aluno 7 (1.6 km)
		          -> Aluno 8 (2.3 km)
		          -> escola (1.4 km)
	custo da solucao: R$6155.73

escola 31173061 | 186 alunos
[[  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
   18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
   36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
   54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
   72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
   90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107
  108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125
  126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143
  144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161
  162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179
  180 181 182 183 184 185]
 [  0  67  59 147 145 141 165 130  97   9  21  11 166  47  79  15 179  40
  101  94  30 139  78 153   4 161 165 161   9  29  30  96  49  75  97   4
   73  75 102  98  21 119  61 153 171 127  40 127  47  49  50  51 179  79
   54  56  56 135  79  59  76  76 125  85  64 139 152  67  94 117  56 102
  130  73 112  75  76  44  73  79  98 153  50 130  64  76  64  51 113  89
  113 104  42  61  30  99  73  97  98  99 125 141 102  50  21  91  67  75
   16 127  78  49   0  89  78  73 131  99 139 119  96 124  61  47 124 145
  102 127  85 165 127  79  61  85 179 149 152 152 146  29  67 141  30 140
  101  91 146 147  76  51 102 161 152 153  56 146  73 130 158 159  85  94
   73  75 131 165 166 124  75  76  89  11  36  56  40 125  73 146 127 179
  104 159 119  78 184  97]]
	ordem de coleta:
		Veículo 0: escola -> Aluno 0
		          -> Aluno 112 (4.8 km)
		          -> escola (10.8 km)
		Veículo 4: escola -> Aluno 24
		          -> Aluno 35 (8.7 km)
		          -> escola (3.6 km)
		Veículo 9: escola -> Aluno 9
		          -> Aluno 28 (11.2 km)
		          -> escola (7.9 km)
		Veículo 11: escola -> Aluno 11
		          -> Aluno 171 (0.0 km)
		          -> escola (17.0 km)
		Veículo 15: escola -> Aluno 15
		          -> escola (16.5 km)
		Veículo 16: escola -> Aluno 108
		          -> escola (16.4 km)
		Veículo 21: escola -> Aluno 10
		          -> Aluno 40 (7.8 km)
		          -> Aluno 104 (16.3 km)
		          -> escola (7.1 km)
		Veículo 29: escola -> Aluno 29
		          -> Aluno 139 (5.8 km)
		          -> escola (6.1 km)
		Veículo 30: escola -> Aluno 20
		          -> Aluno 30 (6.6 km)
		          -> Aluno 94 (1.8 km)
		          -> Aluno 142 (12.8 km)
		          -> escola (4.6 km)
		Veículo 36: escola -> Aluno 172
		          -> escola (17.4 km)
		Veículo 40: escola -> Aluno 17
		          -> Aluno 46 (14.6 km)
		          -> Aluno 174 (8.8 km)
		          -> escola (22.9 km)
		Veículo 42: escola -> Aluno 92
		          -> escola (12.4 km)
		Veículo 44: escola -> Aluno 77
		          -> escola (2.7 km)
		Veículo 47: escola -> Aluno 13
		          -> Aluno 48 (1.7 km)
		          -> Aluno 123 (13.5 km)
		          -> escola (17.0 km)
		Veículo 49: escola -> Aluno 32
		          -> Aluno 49 (1.9 km)
		          -> Aluno 111 (8.1 km)
		          -> escola (10.8 km)
		Veículo 50: escola -> Aluno 50
		          -> Aluno 82 (40.3 km)
		          -> Aluno 103 (5.1 km)
		          -> escola (15.2 km)
		Veículo 51: escola -> Aluno 51
		          -> Aluno 87 (6.7 km)
		          -> Aluno 149 (10.8 km)
		          -> escola (4.6 km)
		Veículo 54: escola -> Aluno 54
		          -> escola (7.1 km)
		Veículo 56: escola -> Aluno 55
		          -> Aluno 56 (3.8 km)
		          -> Aluno 70 (4.1 km)
		          -> Aluno 154 (3.4 km)
		          -> Aluno 173 (11.7 km)
		          -> escola (11.5 km)
		Veículo 59: escola -> Aluno 2
		          -> Aluno 59 (16.7 km)
		          -> escola (8.8 km)
		Veículo 61: escola -> Aluno 42
		          -> Aluno 93 (14.3 km)
		          -> Aluno 122 (9.4 km)
		          -> Aluno 132 (0.0 km)
		          -> escola (16.3 km)
		Veículo 64: escola -> Aluno 64
		          -> Aluno 84 (14.1 km)
		          -> Aluno 86 (6.9 km)
		          -> escola (14.5 km)
		Veículo 67: escola -> Aluno 1
		          -> Aluno 67 (19.3 km)
		          -> Aluno 106 (3.0 km)
		          -> Aluno 140 (8.5 km)
		          -> escola (22.9 km)
		Veículo 73: escola -> Aluno 36
		          -> Aluno 73 (10.0 km)
		          -> Aluno 78 (5.3 km)
		          -> Aluno 96 (6.5 km)
		          -> Aluno 115 (2.7 km)
		          -> Aluno 156 (9.5 km)
		          -> Aluno 162 (15.3 km)
		          -> Aluno 176 (3.5 km)
		          -> escola (5.1 km)
		Veículo 75: escola -> Aluno 33
		          -> Aluno 37 (22.6 km)
		          -> Aluno 75 (26.0 km)
		          -> Aluno 107 (8.9 km)
		          -> Aluno 163 (6.0 km)
		          -> Aluno 168 (6.7 km)
		          -> escola (4.3 km)
		Veículo 76: escola -> Aluno 60
		          -> Aluno 61 (6.1 km)
		          -> Aluno 76 (15.1 km)
		          -> Aluno 85 (18.7 km)
		          -> Aluno 148 (14.9 km)
		          -> Aluno 169 (5.1 km)
		          -> escola (6.4 km)
		Veículo 78: escola -> Aluno 22
		          -> Aluno 110 (3.5 km)
		          -> Aluno 114 (5.1 km)
		          -> Aluno 183 (2.0 km)
		          -> escola (17.4 km)
		Veículo 79: escola -> Aluno 14
		          -> Aluno 53 (3.3 km)
		          -> Aluno 58 (13.3 km)
		          -> Aluno 79 (7.8 km)
		          -> Aluno 131 (13.9 km)
		          -> escola (16.3 km)
		Veículo 85: escola -> Aluno 63
		          -> Aluno 128 (11.0 km)
		          -> Aluno 133 (20.6 km)
		          -> Aluno 160 (10.8 km)
		          -> escola (7.2 km)
		Veículo 89: escola -> Aluno 89
		          -> Aluno 113 (2.2 km)
		          -> Aluno 170 (15.7 km)
		          -> escola (5.9 km)
		Veículo 91: escola -> Aluno 105
		          -> Aluno 145 (8.7 km)
		          -> escola (3.3 km)
		Veículo 94: escola -> Aluno 19
		          -> Aluno 68 (27.3 km)
		          -> Aluno 161 (8.9 km)
		          -> escola (23.1 km)
		Veículo 96: escola -> Aluno 31
		          -> Aluno 120 (14.9 km)
		          -> escola (18.0 km)
		Veículo 97: escola -> Aluno 8
		          -> Aluno 34 (15.6 km)
		          -> Aluno 97 (8.4 km)
		          -> Aluno 185 (10.4 km)
		          -> escola (14.5 km)
		Veículo 98: escola -> Aluno 39
		          -> Aluno 80 (18.2 km)
		          -> Aluno 98 (19.1 km)
		          -> escola (15.8 km)
		Veículo 99: escola -> Aluno 95
		          -> Aluno 99 (3.8 km)
		          -> Aluno 117 (14.9 km)
		          -> escola (11.7 km)
		Veículo 101: escola -> Aluno 18
		          -> Aluno 144 (11.9 km)
		          -> escola (1.1 km)
		Veículo 102: escola -> Aluno 38
		          -> Aluno 71 (29.7 km)
		          -> Aluno 102 (4.5 km)
		          -> Aluno 126 (1.6 km)
		          -> Aluno 150 (17.7 km)
		          -> escola (7.9 km)
		Veículo 104: escola -> Aluno 91
		          -> Aluno 180 (19.6 km)
		          -> escola (3.5 km)
		Veículo 112: escola -> Aluno 74
		          -> escola (7.4 km)
		Veículo 113: escola -> Aluno 88
		          -> Aluno 90 (5.8 km)
		          -> escola (20.8 km)
		Veículo 117: escola -> Aluno 69
		          -> escola (7.2 km)
		Veículo 119: escola -> Aluno 41
		          -> Aluno 119 (5.9 km)
		          -> Aluno 182 (2.9 km)
		          -> escola (17.3 km)
		Veículo 124: escola -> Aluno 121
		          -> Aluno 124 (5.9 km)
		          -> Aluno 167 (7.3 km)
		          -> escola (11.2 km)
		Veículo 125: escola -> Aluno 62
		          -> Aluno 100 (0.0 km)
		          -> Aluno 175 (3.8 km)
		          -> escola (20.8 km)
		Veículo 127: escola -> Aluno 45
		          -> Aluno 47 (2.7 km)
		          -> Aluno 109 (25.7 km)
		          -> Aluno 127 (16.3 km)
		          -> Aluno 130 (4.0 km)
		          -> Aluno 178 (12.1 km)
		          -> escola (14.1 km)
		Veículo 130: escola -> Aluno 7
		          -> Aluno 72 (5.8 km)
		          -> Aluno 83 (19.2 km)
		          -> Aluno 157 (0.0 km)
		          -> escola (16.9 km)
		Veículo 131: escola -> Aluno 116
		          -> Aluno 164 (0.0 km)
		          -> escola (16.2 km)
		Veículo 135: escola -> Aluno 57
		          -> escola (7.6 km)
		Veículo 139: escola -> Aluno 21
		          -> Aluno 65 (4.1 km)
		          -> Aluno 118 (18.4 km)
		          -> escola (16.5 km)
		Veículo 140: escola -> Aluno 143
		          -> escola (11.3 km)
		Veículo 141: escola -> Aluno 5
		          -> Aluno 101 (0.0 km)
		          -> Aluno 141 (7.8 km)
		          -> escola (13.2 km)
		Veículo 145: escola -> Aluno 4
		          -> Aluno 125 (8.1 km)
		          -> escola (5.2 km)
		Veículo 146: escola -> Aluno 138
		          -> Aluno 146 (6.5 km)
		          -> Aluno 155 (26.7 km)
		          -> Aluno 177 (8.9 km)
		          -> escola (8.4 km)
		Veículo 147: escola -> Aluno 3
		          -> Aluno 147 (1.9 km)
		          -> escola (4.3 km)
		Veículo 149: escola -> Aluno 135
		          -> escola (2.5 km)
		Veículo 152: escola -> Aluno 66
		          -> Aluno 136 (11.5 km)
		          -> Aluno 137 (11.0 km)
		          -> Aluno 152 (9.1 km)
		          -> escola (13.3 km)
		Veículo 153: escola -> Aluno 23
		          -> Aluno 43 (28.1 km)
		          -> Aluno 81 (7.4 km)
		          -> Aluno 153 (15.8 km)
		          -> escola (20.6 km)
		Veículo 158: escola -> Aluno 158
		          -> escola (13.5 km)
		Veículo 159: escola -> Aluno 159
		          -> Aluno 181 (10.7 km)
		          -> escola (5.1 km)
		Veículo 161: escola -> Aluno 25
		          -> Aluno 27 (3.9 km)
		          -> Aluno 151 (23.3 km)
		          -> escola (12.3 km)
		Veículo 165: escola -> Aluno 6
		          -> Aluno 26 (14.6 km)
		          -> Aluno 129 (3.2 km)
		          -> Aluno 165 (18.0 km)
		          -> escola (2.1 km)
		Veículo 166: escola -> Aluno 12
		          -> Aluno 166 (10.5 km)
		          -> escola (4.4 km)
		Veículo 171: escola -> Aluno 44
		          -> escola (16.2 km)
		Veículo 179: escola -> Aluno 16
		          -> Aluno 52 (2.6 km)
		          -> Aluno 134 (1.1 km)
		          -> Aluno 179 (1.7 km)
		          -> escola (5.1 km)
		Veículo 184: escola -> Aluno 184
		          -> escola (14.2 km)
	custo da solucao: R$69891.43

escola 31173088 | 2 alunos
[[0 1]
 [0 0]]
	ordem de coleta:
		Veículo 0: escola -> Aluno 0
		          -> Aluno 1 (12.0 km)
		          -> escola (4.0 km)
	custo da solucao: R$1032.05

escola 31173169 | 11 alunos
[[ 0  1  2  3  4  5  6  7  8  9 10]
 [ 0  2  2  4  9  4  9  0  9 10 10]]
	ordem de coleta:
		Veículo 0: escola -> Aluno 0
		          -> Aluno 7 (8.3 km)
		          -> escola (6.1 km)
		Veículo 2: escola -> Aluno 1
		          -> Aluno 2 (15.1 km)
		          -> escola (3.9 km)
		Veículo 4: escola -> Aluno 3
		          -> Aluno 5 (0.0 km)
		          -> escola (4.0 km)
		Veículo 9: escola -> Aluno 4
		          -> Aluno 6 (0.0 km)
		          -> Aluno 8 (1.9 km)
		          -> escola (12.4 km)
		Veículo 10: escola -> Aluno 9
		          -> Aluno 10 (1.6 km)
		          -> escola (12.4 km)
	custo da solucao: R$5131.64

escola 31173185 | 16 alunos
[[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15]
 [ 0  8  3  0  8  8  0  8  0  0  3  0 15  8 15 15]]
	ordem de coleta:
		Veículo 0: escola -> Aluno 0
		          -> Aluno 3 (1.4 km)
		          -> Aluno 6 (6.0 km)
		          -> Aluno 8 (6.6 km)
		          -> Aluno 9 (6.4 km)
		          -> Aluno 11 (8.3 km)
		          -> escola (4.2 km)
		Veículo 3: escola -> Aluno 2
		          -> Aluno 10 (2.9 km)
		          -> escola (6.1 km)
		Veículo 8: escola -> Aluno 1
		          -> Aluno 4 (7.1 km)
		          -> Aluno 5 (6.8 km)
		          -> Aluno 7 (1.7 km)
		          -> Aluno 13 (3.4 km)
		          -> escola (8.6 km)
		Veículo 15: escola -> Aluno 12
		          -> Aluno 14 (30.5 km)
		          -> Aluno 15 (2.1 km)
		          -> escola (2.6 km)
	custo da solucao: R$4209.19

escola 31246115 | 58 alunos
[[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
  24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47
  48 49 50 51 52 53 54 55 56 57]
 [57  4 52  3 36 56 28  7  7  1 10  4  7 57 26 52  1 17  1 17 37  4 36 26
   3  2 26 49 28 57  1 28 28 37 10 56  7 37 57 28 52  1 52 37 19  2 19  7
  10 49  1 23 52 56 57  1 17 36]]
	ordem de coleta:
		Veículo 1: escola -> Aluno 9
		          -> Aluno 16 (11.2 km)
		          -> Aluno 18 (10.2 km)
		          -> Aluno 30 (2.7 km)
		          -> Aluno 41 (0.0 km)
		          -> Aluno 50 (21.0 km)
		          -> Aluno 55 (2.9 km)
		          -> escola (6.4 km)
		Veículo 2: escola -> Aluno 25
		          -> Aluno 45 (13.5 km)
		          -> escola (4.8 km)
		Veículo 3: escola -> Aluno 3
		          -> Aluno 24 (7.0 km)
		          -> escola (4.8 km)
		Veículo 4: escola -> Aluno 1
		          -> Aluno 11 (2.6 km)
		          -> Aluno 21 (0.5 km)
		          -> escola (2.9 km)
		Veículo 7: escola -> Aluno 7
		          -> Aluno 8 (3.8 km)
		          -> Aluno 12 (1.3 km)
		          -> Aluno 36 (1.4 km)
		          -> Aluno 47 (11.9 km)
		          -> escola (3.4 km)
		Veículo 10: escola -> Aluno 10
		          -> Aluno 34 (0.0 km)
		          -> Aluno 48 (0.0 km)
		          -> escola (8.5 km)
		Veículo 17: escola -> Aluno 17
		          -> Aluno 19 (0.0 km)
		          -> Aluno 56 (6.1 km)
		          -> escola (8.5 km)
		Veículo 19: escola -> Aluno 44
		          -> Aluno 46 (6.0 km)
		          -> escola (6.9 km)
		Veículo 23: escola -> Aluno 51
		          -> escola (11.5 km)
		Veículo 26: escola -> Aluno 14
		          -> Aluno 23 (10.2 km)
		          -> Aluno 26 (7.6 km)
		          -> escola (8.1 km)
		Veículo 28: escola -> Aluno 6
		          -> Aluno 28 (0.5 km)
		          -> Aluno 31 (15.0 km)
		          -> Aluno 32 (0.0 km)
		          -> Aluno 39 (0.0 km)
		          -> escola (13.7 km)
		Veículo 36: escola -> Aluno 4
		          -> Aluno 22 (0.5 km)
		          -> Aluno 57 (0.0 km)
		          -> escola (9.4 km)
		Veículo 37: escola -> Aluno 20
		          -> Aluno 33 (5.6 km)
		          -> Aluno 37 (4.2 km)
		          -> Aluno 43 (2.9 km)
		          -> escola (9.3 km)
		Veículo 49: escola -> Aluno 27
		          -> Aluno 49 (0.0 km)
		          -> escola (9.3 km)
		Veículo 52: escola -> Aluno 2
		          -> Aluno 15 (9.9 km)
		          -> Aluno 40 (9.2 km)
		          -> Aluno 42 (0.0 km)
		          -> Aluno 52 (1.1 km)
		          -> escola (9.4 km)
		Veículo 56: escola -> Aluno 5
		          -> Aluno 35 (0.0 km)
		          -> Aluno 53 (2.1 km)
		          -> escola (9.7 km)
		Veículo 57: escola -> Aluno 0
		          -> Aluno 13 (16.6 km)
		          -> Aluno 29 (16.4 km)
		          -> Aluno 38 (6.1 km)
		          -> Aluno 54 (0.7 km)
		          -> escola (8.4 km)
	custo da solucao: R$17691.25

escola 31303330 | 63 alunos
[[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
  24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47
  48 49 50 51 52 53 54 55 56 57 58 59 60 61 62]
 [ 7 37  2  7 37  5  7  7 37 21 37 23 32  7  2 32 57 47 47 12  2 21  2 23
  35  7 62 35 21 54 33 54 47  7 49 35 35 23 47 12 49 33 49 43 57  6 21 21
  32 37  2 32  7  5 54 32  6 57 32  5  6 12 47]]
	ordem de coleta:
		Veículo 2: escola -> Aluno 2
		          -> Aluno 14 (9.1 km)
		          -> Aluno 20 (7.2 km)
		          -> Aluno 22 (3.5 km)
		          -> Aluno 50 (9.5 km)
		          -> escola (3.7 km)
		Veículo 5: escola -> Aluno 5
		          -> Aluno 53 (10.3 km)
		          -> Aluno 59 (0.0 km)
		          -> escola (3.7 km)
		Veículo 6: escola -> Aluno 45
		          -> Aluno 56 (8.1 km)
		          -> Aluno 60 (10.5 km)
		          -> escola (3.9 km)
		Veículo 7: escola -> Aluno 0
		          -> Aluno 3 (3.4 km)
		          -> Aluno 6 (9.8 km)
		          -> Aluno 7 (2.4 km)
		          -> Aluno 13 (6.8 km)
		          -> Aluno 25 (0.0 km)
		          -> Aluno 33 (13.0 km)
		          -> Aluno 52 (15.8 km)
		          -> escola (2.1 km)
		Veículo 12: escola -> Aluno 19
		          -> Aluno 39 (2.7 km)
		          -> Aluno 61 (6.3 km)
		          -> escola (2.1 km)
		Veículo 21: escola -> Aluno 9
		          -> Aluno 21 (1.6 km)
		          -> Aluno 28 (9.0 km)
		          -> Aluno 46 (0.0 km)
		          -> Aluno 47 (0.0 km)
		          -> escola (9.6 km)
		Veículo 23: escola -> Aluno 11
		          -> Aluno 23 (0.0 km)
		          -> Aluno 37 (2.1 km)
		          -> escola (16.3 km)
		Veículo 32: escola -> Aluno 12
		          -> Aluno 15 (9.4 km)
		          -> Aluno 48 (7.6 km)
		          -> Aluno 51 (0.2 km)
		          -> Aluno 55 (1.2 km)
		          -> Aluno 58 (0.4 km)
		          -> escola (3.0 km)
		Veículo 33: escola -> Aluno 30
		          -> Aluno 41 (0.0 km)
		          -> escola (15.3 km)
		Veículo 35: escola -> Aluno 24
		          -> Aluno 27 (2.5 km)